<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pelicula</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
            integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
            crossorigin="anonymous"
        ></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <h1>Cinelitas</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" onclick="window.location.href = '/sala'">Salas</a>
                    </li>   
                    <li class="nav-item">
                        <a class="nav-link" onclick="window.location.href = '/peliculas'">Peliculas</a>
                    </li>
                </ul>
                </nav>

                </head>
                <body>      
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <!-- table row -->                    
                                <th scope="col">Fecha Pelicula</th>     
                                <th  scope="col">Nombre</th>  
                                <th scope="col">Costo</th>          
                                 <th  scope="col"> 
                                    <button  class="btn btn-success" type="button" onclick="window.location.href = ''/">Agregar</button>
                                </th>  
                               
                            </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="pelicula : ${Pelicula}">
                            <tr>            
                                <td th:text="${#dates.format(pelicula.getFecha, 'dd-MM-yyyy')}"></td>                                
                                <td th:text="${pelicula.getNombre}"></td>
                                <td th:text="${pelicula.getCosto_entrada}"></td>                              
                                <td width="10%" style="padding-bottom: 10px; padding-top: 10px">                           
                                                                     
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>    
                </body>
                </html>